* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #deeff0;
  color: #476072;
}

#root {
  max-width: 70vw;
  margin: auto;
}

main {
  width: 100%;
  display: flex;
}

header {
  padding: 1rem;
  background: #548ca8;
  color: #eeeeee;
  display: flex;
  align-items: center;
}

.selectMenu {
  font: inherit;
  margin-left: 1.5rem;
  padding: 0.7rem 1rem;
  width: 20rem;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #334257;
  background: #eee;
  cursor: pointer;
}

section {
  display: none;
  border: 2px solid;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}

.repo-container,
.contributors-container {
  width: 50%;
  display: none;
  height: 100%;
}

.items {
  display: flex;
  margin: 10px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
}

td {
  padding: 10px;
  vertical-align: top;
}

td:first-child {
  font-weight: 900;
}

tr > :nth-child(2) {
  padding-left: 1rem;
}

footer {
  margin-top: 2%;
}

@media (max-width: 768px) {
  #root {
    max-width: 80vw;
  }

  .main-container {
    flex-direction: column;
    align-items: stretch;
  }

  .repo-container {
    width: 100%;
  }

  .contributors-container {
    align-self: flex-end;
    width: 75%;
  }
}

@media (max-width: 500px) {
  #root {
    max-width: 100vw;
  }

  .contributors-container {
    align-self: flex-end;
    width: 100%;
  }
}
